AGGREGATOR_CHANNEL=
AGGREGATOR_CONTROLLER_CONFIG_AGGREGATOR_STATE_KEY=
AGGREGATOR_CONTROLLER_CONFIG_START_AGGREGATION_MESSAGE=

BOX_LISTENER_CONTROLLER_CONFIG_CHANNEL_NAME=
BOX_LISTENER_CONTROLLER_CONFIG_STOP_LISTENING_MESSAGE=
BOX_LISTENER_CONTROLLER_CONFIG_RESUME_LISTENING_MESSAGE=

START_AGGREGATION_REQUEST_LISTENER_LISTEN_CHANNEL=
START_AGGREGATION_REQUEST_LISTENER_AGGREGATION_START_RESULT_SEND_CHANNEL=
START_AGGREGATION_REQUEST_LISTENER_START_AGGREGATION_MESSAGE=
START_AGGREGATION_REQUEST_LISTENER_CHECK_REQUEST_INTERVAL_SECONDS=
AGGREGATION_STARTED_OR_COMPLETED_SUCCESSFULLY_MESSAGE=

HOUR_AUTOMATICALLY_RUN_AGGREGATION_AT=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=